html {
	background-color: tan;
}

body {
	background-color: white;
	border: dashed;
	border-color: black;
	margin: 0% 25%	;
}

h1 {
	border-bottom: dashed;
	text-align: center;
}

ul {
	text-align: center;
	list-style: none;
}

li:first-letter
 {
 	font-weight: bold;
	font-size: x-large;
}